<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function test(v, v2) {
		alert(v);
		alert(v2);
	}
</script>
</head>
<body>
	<h2>계산결과</h2>
	<!-- EL---------------------------------------------------- -->
	<!-- ${param.파라메터명} -->
	<h3 th:text="${param.x}"></h3>
	<h3>[[${param.y}]]</h3>
	<hr>

	<!-- 기본형급 : ${어트리뷰트명} -->
	<h3 th:text="${a}"></h3>
	<hr>

	<!-- 객체급 : ${어트리뷰트명.멤버변수명 -->
	<h3 th:text="${cr.hab}"></h3>
	<hr>

	<!-- 컬렉션급 : ${어트리뷰트명[인덱스/키].멤버변수명} -->
	<h3 th:text="${b[0].name}"></h3>
	<h3>[[${c['ㄱ'].price}]]</h3>
	<hr>

	<!-- 세션 어트리뷰트 : ${session.어트리뷰트명...} -->
	<h3 th:text="${session.d}"></h3>
	<hr>

	<!-- JSTL-------------------------------------------------- -->
	<!-- 
		JSTL : DOM객체형태
		Thymeleaf : DOM객체의 속성형태
	 -->
	<!-- JSTL-core--------------------------------------------- -->
	<!-- else if는 없음 -->
	[[${e}]]
	<br>
	<h3 th:if="${e % 2 == 1}">홀수</h3>
	<h3 th:unless="${e % 2 == 1}">짝수</h3>
	<hr>

	<!-- 클래식for는 없음 -->
	<table border="1">
		<!-- 변수명 : ${그거} -->
		<tr th:each="s : ${b}">
			<td th:text="${s.name}"></td>
			<td>[[${s.price}]]</td>
		</tr>
	</table>

	<table border="1">
		<!-- 변수명, 인덱스정보 : ${그거} -->
		<tr th:each="s, iInfo : ${b}">
			<td th:text="${iInfo.index}"></td>
			<td th:text="${iInfo.count}"></td>
			<td th:text="${iInfo.size}"></td>
			<td th:text="${s.name}"></td>
			<td>[[${s.price}]]</td>
		</tr>
	</table>

	<table border="1">
		<!-- 변수명 : ${그거} -->
		<tr th:each="s : ${c}">
			<td th:text="${s.key}"></td>
			<td th:text="${s.value.name}"></td>
			<td th:text="${s.value.price}"></td>
		</tr>
	</table>
	<hr>

	<!-- JSTL-formatting--------------------------------------------- -->
	<!-- 그거, 자리수, 'COMMA' -->
	<h3 th:text="${#numbers.formatInteger(f, 1, 'COMMA')}"></h3>
	<hr>
	<!-- 그거, 정수자리수, 소수점자리수 -->
	<h3 th:text="${#numbers.formatDecimal(g, 1, 3)}"></h3>
	<hr>
	<!-- 그거, '형식' -->
	<h3 th:text="${#dates.format(h, 'yyyy/MM/dd')}"></h3>
	<hr>

	<!-- jsp:include------------------------------------------------- -->
	<!-- 부분만 가져오는게 -->
	<table border="1">
		<tr>
			<td th:insert="~{${contentPage} :: ${contentPageSub}}"></td>
		</tr>
	</table>

	<!-- 기타-------------------------------------------------------- -->
	<!-- 
		속성이면 th:속성명으로
		값 넣어야 하면 
	-->
	<button th:onclick="test([[${a}]], [[${f}]]);">버튼</button>
	<hr>
	<!-- 인터넷 주소 -->
	<a th:href="@{${i}}">네이버로</a>
	
</body>
</html>